.bg-img {

    background-image: url('./img/wall.png');
    background-size: cover;
}

.body-bg-img {
    background-image: url('./img/cork.png');
    background-size: cover;
}

.card-img {
    padding: 1.5rem;
    padding-bottom: 0;
}

body {
    font-family: 'Edu TAS Beginner', sans-serif; /* Font predefinito */
}

.card {
margin-bottom: 2rem;
}